@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}


/* common */

#wrapper {min-width: 320px; max-width: 1024px; margin: 0 auto; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -41px; width: 100%; text-align: center; line-height: 40px; background-color: rgba(0, 0, 0, 0.6); color: #ffffff; font-size: 16px; border-bottom: 1px solid rgba(255, 255, 255, 0.8); transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');



img { margin: auto; width: 100%;}


@media screen and (max-width:1024px){
#footer div.div-box p {padding: 5px 0 10px 20px}
} 


@media screen and (max-width:1024px){
  #main-sub > section.gift  {padding: 0 10px 0 10px}
} 









/* header */
#header {position: fixed; width: 100%; ; height: 60px; z-index: 10000; background-color: transparent; padding-top: 0;color: #fff; transition: all .5s;}
#header h1 {position: absolute; top: 0; left: 50%; margin-left: -56px; height: 19px; width: 112px; transition: all .4s;}
#header h1 a {font-size: 1.2em;}
#header h1 a svg { height: 19px; width: 112px;}
/* #header .gnb .menu-t {color: #000;} */
/* #header .gnb-right > li {color: #000;} */

/* pc css none list */


#header nav.gnb a.menu {position: absolute; left: 10px; top: 50%; transform: translate(0, -50%); width: 25px; height: 15px; z-index: 10;  }
#header nav.gnb a.menu::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 15px; height: 1.5px; background: #ffffff; transition: all .4s;}
#header nav.gnb a.menu > span {text-indent: -99999px; overflow: hidden; position: absolute; left: 50%; top: 45%; height: 1.5px; width: 15px; background: #ffffff; transition: all .4s; transform: translate(-50%, 0);}
#header nav.gnb a.menu::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 15px; height: 1.5px; background: #ffffff; transition: all .4s;}

#header nav.gnb div.mobile_menu {position: fixed; top: 0; left: 0; width: 295px ; height: 100%; background-color: beige; z-index: 10001; display: none; }
#header nav.gnb div.mobile_menu > div.xbtn {position: absolute; width: 14px; top: 20px; right: 20px; cursor: pointer; transform: rotate(3.134); display: block;}
#header nav.gnb div.mobile_menu > div.xbtn > img {width: 100%; height: auto;}

#header nav.gnb div.mobile_menu > ul.gnb-left {display: inline-block; color: #000; text-align: left; position: absolute; top: 75px; left: 25px; font-size: 20px; font-family: 'LeferiPoint-WhiteObliqueA';
}
#header nav.gnb div.mobile_menu > ul.gnb-left > li {line-height: 1.8 ;}
#header nav.gnb div.mobile_menu > ul.gnb-left > li:first-child {margin-bottom: 80px;}
#header nav.gnb div.mobile_menu > ul.gnb-left > li:nth-child(2) {color: darkred;}
#header nav.gnb div.mobile_menu > ul.gnb-left_bottom {display: inline-block; color: #000; text-align: left; position: absolute; bottom: 90px; left: 25px; font-size: 20px; font-weight: normal;}
#header nav.gnb ul.gnb-left {display: none;}
#header nav.gnb div.mobile_menu ul.gnb-left_bottom > li {line-height: 29px; font-size: 14px; font-weight: 500;}
#header nav.gnb div.mobile_menu ul.gnb-left_bottom select.mobile {color: #000; margin-top: 10px; font-weight: 600; background-color: beige;}
#header nav.gnb select.mobile {top: 0; border:0; box-sizing: border-box; color: #ffffff; top: auto; -webkit-appearance: none; -moz-appearance: none; appearance: none; transform: translate(0, -20%); outline: none; display: block;}

#header nav.gnb ul.gnb-right {position: absolute; top: 30px; right: 15px; transform: translate(0, -50%); transition: all .4s;}

#header nav.gnb ul.gnb-right > li.mobile {display: block;} 
#header nav.gnb ul.gnb-right li {display :none ;}
#header nav.gnb ul.gnb-right select.Shop {top: 0; border:0; box-sizing: border-box; background:transparent; color: #ffffff; top: auto; -webkit-appearance: none; -moz-appearance: none; appearance: none; transform: translate(0, -20%); outline: none; display: none;}
body.sub-gift #header nav.gnb ul.gnb-right > li.mobile {color: #000;}

body.sub-gift #header nav.gnb a.menu {position: absolute; left: 10px; top: 50%; transform: translate(0, -50%); width: 25px; height: 15px; z-index: 10;}
body.sub-gift #header nav.gnb a.menu::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 15px; height: 1.5px; background: #000; transition: all .4s;}
body.sub-gift #header nav.gnb a.menu > span {text-indent: -99999px; overflow: hidden; position: absolute; left: 50%; top: 45%; height: 1.5px; width: 15px; background: #000; transition: all .4s; transform: translate(-50%, 0);}
body.sub-gift #header nav.gnb a.menu::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 15px; height: 1.5px; background: #000; transition: all .4s;}









/* main */
#main {width: 100vw; overflow: hidden;}
#main section.main-visual1 {height: 100vh; width: 100vw; position: relative; background: url(../img/main2.jpg) center center no-repeat; background-size: cover; object-fit: cover;}
#main section.main-visual1 > div.title {position: absolute; bottom: 50px; max-width: 300px; margin: 0; padding: 0; text-align: center; left: 50%; transform: translate(-50%, 0); line-height: 2.5; will-change: opacity, z-index, bottom; opacity: 1; z-index: 9; transition: opacity 0.5s ease-out, z-index 0.5s ease-out, bottom 0.5s 0.35s ease-out; }
#main section.main-visual1 > div.title > h2 {text-align: center; transition: all .5s;}
#main section.main-visual1 > div.title > h2 img {background-image: url(../img/img4.svg) center center no-repeat; min-width: 299px; min-height: 42px; text-align: center; background-size: cover; transition: all .5s;}
#main section.main-visual1 > div.title > h3 {margin: 15px 0 15px 0; transition: all .5s; width: 100%; display: inline-flex; justify-content: center; } 
#main section.main-visual1 > div.title > h3 img {background-image: url(../img/img5.svg) center center no-repeat; min-width: 350px; transition: all .5s; }

#main section.main-visual1 > div.title div.new {position: relative; height: 45px; width: auto;}
#main section.main-visual1 > div.title div.new a {background-color: transparent; border: 1px solid #ffffff; border-radius: 5px; font-size: 15px; color: #fff; font-weight: 400; padding: 0px 90px; position: relative; display: inline-flex; justify-content: center; }
#main section.main-visual1 > div.title div.new a::after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: .2; z-index: -1; box-sizing: border-box;}
#main section.main-visual1 span.material-icons > a {display: inline-block; bottom: 30px; right: 30px; color: #fff; border: 10px solid #222; width: 24px; height: 22px; z-index: 99999; border-radius: 30px; background-color: #222;position: fixed; font-size: 25px; text-align: center; }



#main section.main-visual2 {height: 100vh; width: 100vw;position: relative;top: 0; object-fit: cover; }
#main section.main-visual2 div.img2 {min-height: 300px; width: 100%;}
#main section.main-visual2 div.img2 > img {height: 100%; width: 100%;}
#main section.main-visual2 > div.title {position: absolute; bottom: 50px; margin: 0; padding: 0; text-align: center; left: 50%; transform: translate(-50%, 0); line-height: 2.5; will-change: opacity, z-index, bottom; opacity: 1; z-index: 9; transition: opacity 0.5s ease-out, z-index 0.5s ease-out, bottom 0.5s 0.35s ease-out;}
#main section.main-visual2 > div.title > h2 {margin-bottom: 20px; z-index: 9999;}
#main section.main-visual2 > div.title > h2 img {background-image: url(../img/img4.svg) center center no-repeat;  min-width: 350px; min-height: 21px; }
#main section.main-visual2 > div.title a { height: 45px; width: 250px; border: 1px solid #333333; border-radius: 5px; font-size: 16px; color: #333333; font-weight: 340; padding: 10px 85px;}




#main section.main-visual3 {height: 100vh; width: 100vw;position: relative;top: 0; background: url(../img/main3.jpg) center center no-repeat; background-size: cover; object-fit: cover;}

#main section.main-visual3 > div.title {position: absolute; bottom: 50px; margin: 0; padding: 0;text-align: center; left: 50%; transform: translate(-50%, 0); line-height: 2.5; will-change: opacity, z-index, bottom; opacity: 1; z-index: 9; transition: opacity 0.5s ease-out, z-index 0.5s ease-out, bottom 0.5s 0.35s ease-out;}
#main section.main-visual3 > div.title > h2 {}
#main section.main-visual3 > div.title > h2 img {background-image: url(../img/img4.svg) center center no-repeat; min-width: 450px; min-height: 43px;}
#main section.main-visual3 > div.title > h3 {}
#main section.main-visual3 > div.title > h3 img {background-image: url(../img/img5.svg) center center no-repeat; width: 70%;}
#main section.main-visual3 > div.title a {background-color: transparent; height: 45px; width: 250px; border: 1px solid #ffffff; border-radius: 5px; font-size: 16px; color: #fff; font-weight: 340; padding: 10px 85px; }



#footer { padding: 50px 0 30px; background: #fff; position: relative;}
#footer div.div-box {color: #535353; font-size: 11px; font-weight: normal; line-height: 18px;}
#footer div.div-box ul.footer-nav { padding: 0 0 10px 20px;}

#footer div.div-box ul.footer-nav li { width: 100%; height: auto; display: inline;}
#footer div.div-box p.service {padding: 5px 0 10px 20px; border-top: 1px solid #333;}
#footer div.div-box a {border-bottom: 1px solid #535353;}



/* sub page */
#main-sub {width: 100vw; overflow: hidden;}
#main-sub section.sub-nav { position: relative; z-index: 1000; padding: 100px 0; }
#main-sub section.sub-nav > ul {position: absolute; display: inline-flex; width: 100%; height: 100%; top: 50px; text-align: center !important; transition-duration: 0ms; margin: 0 auto; overflow: hidden;}
#main-sub section.sub-nav > ul li { width: 100%; height: 100%;color: #000000; font-size: 12px;opacity: 1; box-sizing: border-box; position: relative; z-index: 1; transition-property: transform; min-width: 80px; min-height: 100px; overflow: hidden; margin: 0 0 0 5px;}
#main-sub section.sub-nav > ul > li + li {margin-left: 10px;}
#main-sub section.sub-nav > ul > li > a {display: block;}


#main-sub section.sub-nav > ul > li > a > img { margin-bottom: 20px; width: 100%; height: 100%; padding: 4px; box-sizing: border-box;}
#main-sub section.sub-nav > ul > li > a:hover > img {border: 1px solid #000; border-radius: 55px; transition: all 0.5s ease-out;}
#main-sub div.event {display: none;}


#main-sub > div.recommend{ position: relative; width: 100%; height: 60px; margin: 25px 0; }
#main-sub > div.recommend > ul {position: relative; width: 100%; height: 100%; }
#main-sub > div.recommend > ul > li {position: absolute; width: auto; left: 20px; top: 50%; transform: translate(0, -50%);
font-size: 17px; font-weight: 600;}
#main-sub > div.recommend ul button.btn {background: url(../img/small.svg) right center no-repeat; width: 26px; height: 16px; background-size: cover;
position: absolute; right: 40px; top: 50%; transform: translate(0, -50%);margin-right: 20px; border: none; cursor: pointer;} 
#main-sub > div.recommend ul button.btn > p {position: absolute; font-size: 11px; font-weight: 600; display: inline; right: -20px; top: 50%;
transform: translate(70%, -50%);}

#main-sub > section.gift { display: flex; flex-wrap: wrap; position: relative; justify-content: center;}
#main-sub > section.gift > div.give { text-align: center; left: 50%; top: 0; transform: translate(-50%, 50%); z-index: 10; position: absolute; bottom: 100%;}
#main-sub > section.gift > div.give > h3 {font-size: 24px; font-weight: bold;}
#main-sub > section.gift > div.give > p {font-size: 14px; font-weight: 400; padding-top: 15px; line-height: 1.5 ; width: 273px;}
#main-sub > section.gift > span > a {display: inline-block; bottom: 30px; right: 30px; color: #fff;border: 10px solid #222; width: 24px; height: 22px; border-radius: 30px; background-color: #222;position: fixed; font-size: 25px; text-align: center; z-index: 99999;}
#main-sub > section.gift > ul {background-color: rgb(250, 250, 250); position: relative;width: auto; margin-bottom: 200px; min-width: calc(100% + 33px); display: flex ; flex-wrap: wrap; justify-content: space-evenly;}
#main-sub > section.gift > ul > li {display: block; text-align: center;  width: 187px;}
#main-sub > section.gift > ul > li > a {}
#main-sub > section.gift > ul > li > a > img {display: inline-block; width: 100%; height: auto; margin-top: 30px; }
#main-sub > section.gift > ul > li > a > p {line-height: 2; font-weight: normal; font-size: 14px; margin-top: 25px; }
#main-sub > section.gift > ul > li > a > p > em {font-size: 24px;line-height: 1.5; font-weight: bold !important;}

/* 메인 하단 */




/* pick */


body.pick { width: 100vw; }
body.pick > #header {position: relative; width: 100%; top: 0; height: 90px; z-index: 10000; color: #222;}
body.pick > #header h1 {position: absolute; top: 25px; left: 50%; margin-left: -100px; height: 34px; width: 200px;}
body.pick > #header h1 a {font-size: 1.2em;}

body.pick #header nav.gnb ul.gnb-right select.Shop {top: 0; border:0; box-sizing: border-box; background:transparent;  -webkit-appearance: none; -moz-appearance: none; appearance: none;
  transform: translate(0, -20%); outline: none; }

body.pick > #header nav.gnb ul.gnb-left {position: absolute; top: 40px; transform: translate(0, -50%); margin: 10px 70px;}
body.pick > #header nav.gnb ul.gnb-left li { padding-right: 15px; background-color: transparent; font-size: 13.5px;}
body.pick > #header nav.gnb ul.gnb-left li > a {padding-right: 9px; font-weight: 350;}
body.pick > #header nav.gnb ul.gnb-right {position: absolute; top: 50px; transform: translate(0, -30%); right: 0;margin-right: 60px; }
body.pick > #header nav.gnb ul.gnb-right li { float: right; margin-left: 23px; background-color: transparent; text-align: center; font-size: 15px;}
body.pick > #header nav.gnb ul.gnb-right select.Shop {top: 0; border:0; box-sizing: border-box; background:transparent; color: #000; top: auto; -webkit-appearance: none; -moz-appearance: none; appearance: none;
transform: translate(0, -20%); outline: none;}
body.pick #header span.material-icons > a {display: inline-block; bottom: 30px; right: 30px; color: #fff; border: 10px solid #222; width: 24px; height: 22px; z-index: 99999;
  border-radius: 30px; background-color: #222;  position: fixed; font-size: 25px; text-align: center;}

body.pick #header nav.gnb ul.gnb-right > li.mobile {color: #000;}

body.pick #header nav.gnb a.menu {position: absolute; left: 10px; top: 50%; transform: translate(0, -50%); width: 25px; height: 15px; z-index: 10;}
body.pick #header nav.gnb a.menu::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 15px; height: 1.5px; background: #000; transition: all .4s;}
body.pick #header nav.gnb a.menu > span {text-indent: -99999px; overflow: hidden; position: absolute; left: 50%; top: 45%; height: 1.5px; width: 15px; background: #000; transition: all .4s; transform: translate(-50%, 0);}
body.pick #header nav.gnb a.menu::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 15px; height: 1.5px; background: #000; transition: all .4s;}

/*div event */
body.pick #header div.event {position: absolute ;width: 100%; height: 40px;top: 90px; background-color: #000000; text-align: center; margin: 0 auto; }
body.pick #header div.event > a > p {display: block; color: #ffffff; top: -50%; transform: translate(0, 100%); font-size: 11px; padding-left: 8px; }




/* main */
body.pick div.mainpick { position: relative; box-sizing: border-box; max-width: 100vw; overflow: hidden;}
body.pick div.mainpick div.imgbox { width: 1055px; text-align: center;  padding-top: 60px;}

body.pick div.mainpick div.imgbox > img:nth-child(1) {z-index: 3;}

body.pick div.mainpick section.p-one { width: 100%; height: 1480px; }
body.pick div.mainpick section.p-one div.one-text {width: 350px; height: auto;  display: block; position: absolute; top: 700px; right: 50%;transform: translate(50%, 0); color: #000000;}

body.pick div.mainpick section.p-one div.one-text > div.explanation {width: 100%;}
body.pick div.mainpick section.p-one div.one-text > div.explanation > div.title-text { padding-bottom: 10px; }
body.pick div.mainpick section.p-one div.one-text > div.explanation > div.title-text > em {font-family: 'gothic-a1', sans-serif !important; letter-spacing: -0.5px; font-size: 23px;font-weight: 350; padding-right: 100px; padding-bottom: 10px;}
body.pick div.mainpick section.p-one div.one-text > div.explanation > div.ml-text {font-size: 12px; padding-bottom: 15px; text-align: left; }
body.pick div.mainpick section.p-one div.one-text > div.explanation > div.in-text {font-size: 15px; font-weight: normal; line-height: 25px; padding-bottom: 10px;}
body.pick div.mainpick section.p-one div.one-text > div.explanation > div.in-text > em { font-weight: 600;}
body.pick div.mainpick section.p-one div.one-text > div.explanation > div.in-text2 {font-size: 15px; font-weight: normal; line-height: 25px; padding-bottom: 30px;}
body.pick div.mainpick section.p-one div.one-text > div.explanation > div.in-text2 > em { font-weight: 600;}
 
body.pick div.mainpick section.p-one div.one-text > div.basket > div.btn {position: relative; background-color: #b39a7c; width: 350px; height: 58px;}
body.pick div.mainpick section.p-one div.one-text > div.basket > div.btn > a {position: absolute; left: 50%;transform: translate(-50%, 0);bottom: 20px; color: #ffffff;
font-size: 13px; font-weight: 600;}
body.pick div.mainpick section.p-one div.one-text > div.basket > p:nth-child(2) {color: #b39a7c; padding: 30px 0; font-size: 12px; font-weight: 800; line-height: 21px;} 


body.pick div.mainpick section.p-one div.one-text div.big-infobox > div.info-box1 { padding: 20px; position: relative; border-top: 1px solid #efefef; }
body.pick div.mainpick section.p-one div.one-text div.big-infobox dl { display: none; padding-top: 20px;}

body.pick div.mainpick section.p-one div.one-text div.big-infobox > div.info-box2 { padding: 20px; position: relative; border-top: 1px solid #efefef;}
body.pick div.mainpick section.p-one div.one-text div.big-infobox > div.info-box3 { padding: 20px; position: relative; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef;}
body.pick div.mainpick section.p-one div.one-text div.big-infobox h4 {cursor: pointer;}
body.pick div.mainpick section.p-one div.one-text div.big-infobox h4 img {width: 25px; float: right; cursor: pointer;}
body.pick div.mainpick section.p-one div.one-text div.big-infobox h4 .rotate {width: 25px; float: right; -moz-transition: all .5s linear; -webkit-transition: all .3s linear; transition: all .3s linear;}
body.pick div.mainpick section.p-one div.one-text div.big-infobox h4 .rotate.down {-moz-transform: rotate(3.142rad); -webkit-transform: rotate(3.142rad); transform: rotate(3.142rad); }


body.pick div.mainpick section.p-one div.one-text div.info-box dt {padding: 20px; font-size: 16px; font-weight: 600; position: relative;  }
body.pick div.mainpick section.p-one div.one-text div.info-box dd { display: block; font-size: 16px; font-weight: normal; line-height: 1.8; position: relative; }
body.pick div.mainpick section.p-one div.one-text div.info-box dd > strong {  font-weight: 500;  text-align: left; line-height: 1.5; left: 0;position: absolute; padding: 10px 0; }
body.pick div.mainpick section.p-one div.one-text div.info-box dd span.color-red { color: red; display: block; padding: 20px 0;}
body.pick div.mainpick section.p-two {position: relative; padding-bottom: 200px; display: block; max-width: 100vw;}
body.pick div.mainpick section.p-two > img {} 




section.p-three > div.plus { text-align: center; padding: 50px 0;}
section.p-three > div.plus > h4 {font-size: 22px; font-weight: 350; color: #000000; font-family: inherit;}
section.p-three > div.plus > h4 > em {font-size: 24px; font-weight: 400; }
section.p-three > span > a {display: inline-block; bottom: 30px; right: 30px; color: #fff;  border: 10px solid #222; width: 24px; height: 22px;
  border-radius: 30px; background-color: #222;  position: fixed; font-size: 25px; text-align: center; z-index: 99999;}
section.p-three > ul {background-color: #ffffff; position: relative; display: flex;  width: 100%; margin-bottom: 200px; overflow: hidden; }
section.p-three > ul > li { text-align: center; vertical-align: top; }
section.p-three > ul > li > a {}
section.p-three > ul > li > a > img {display: block; width: 100%; height: auto;}
section.p-three > ul > li > a > p {line-height: 2; font-weight: normal; font-size: 14px; margin-top: 25px; }
section.p-three > ul > li > a > p > em {font-size: 24px;line-height: 1.5; font-weight: bold !important;}









 /* module */
 div.new {min-width: 250px;}
 


 /* box module */
 section.service-center input {position: fixed; left: -99999px; }
 section.service-center label {cursor: pointer; vertical-align: middle; position: absolute; top: 50%; left: 0; transform: translate(0, -50%); position: relative; font-size: 12px;}



 section.service-center label > img {width: 20px; height: 20px; cursor: pointer; float: right;}


 section.service-center label .rotate {-moz-transition: all .4s linear; -webkit-transition: all .4s linear; transition: all .4s linear; }
 section.service-center label .rotate.down {-moz-transform: rotate(3.142rad); -webkit-transform: rotate(3.142rad); transform: rotate(3.142rad); }


 section.service-center #menuBtn:checked ~ label > img .rotate {transform: rotate(3.142rad); transition: all .2s;}
 section.service-center #menuBtn:checked ~ label > img .rotate.down {transform: rotate(3.142rad); transition: all .2s;}
 section.service-center #menuBtn2:checked ~ label > img .rotate {transform: rotate(3.142rad); transition: all .2s;}
 section.service-center #menuBtn2:checked ~ label > img .rotate.down {transform: rotate(3.142rad); transition: all .2s;}
 section.service-center #menuBtn3:checked ~ label > img {transform: rotate(3.142rad); transition: all .2s;}

 section.service-center { position: relative;}

 section.service-center div.service-box1 {position: relative; padding: 16px 18px; border-top: 1px solid #9f9f9f }
 section.service-center div.service-box1 ul.customer { width: 100%; height: 150px; max-height: 0; transition: ease-in-out all .4s; overflow: hidden; box-sizing: border-box; padding-top: 4px;
 }
 section.service-center div.service-box1 ul.customerli { text-align: left; ;}
 section.service-center div.service-box1 ul.customer a {line-height: 2; font-size: 11px; font-weight: 500; width: 100%; height: 100%;}
 section.service-center div.service-box1 #menuBtn:checked ~ ul.customer {max-height: 300px; }



 

 section.service-center div.service-box2 { position: relative; border-top: 1px solid #9f9f9f; padding: 16px 18px; }
 section.service-center div.service-box2 ul.social { width: 100%; height: 100px; max-height: 0;transition: ease-in-out all 0.5s; overflow: hidden; box-sizing: border-box; padding-top: 4px;}
 section.service-center div.service-box2 ul.social > li { text-align: left;}
 section.service-center div.service-box2 ul.social > li:nth-child(2) {color: #b39a7c;}
 section.service-center div.service-box2 ul.social a {line-height: 2; font-size: 11px; font-weight: 500;}
 section.service-center div.service-box2 #menuBtn2:checked ~ ul.social {max-height: 300px; }

 section.service-center div.service-box2 ul.social li:nth-child(2) {color: #b39a7c;}
 section.service-center div.service-box2 ul.social li:nth-child(2):hover em {opacity: 0;} 
 section.service-center div.service-box2 ul.social li:nth-child(2):hover::before {content: '카카오톡 플러스 친구 추가하고 3,000원 혜택 받기'; opacity: 1; font-size: 13px; cursor: pointer; transition: all .4s; }

 section.service-center div.service-box3 {position: relative; border: 1px solid #9f9f9f ; border-right:none; border-left: none; padding: 16px 18px;} 
 section.service-center div.service-box3 ul.recommend {max-height: 0; text-align: left; transition: ease-in-out all 0.5s; overflow: hidden; box-sizing: border-box; padding-top: 4px;}
 section.service-center div.service-box2 ul.recommend > li { text-align: left;}
 section.service-center div.service-box3 ul.recommend li a {line-height: 2; font-size: 11px; font-weight: 500;}
 section.service-center div.service-box3 #menuBtn3:checked ~ ul.recommend {max-height: 300px; }




